.home{
display:flex;

}
.openBtn1{
display:none;
border:5px solid #e0e0e0;
box-shadow:5px 2px 1px green;
height:67vh;
background-color:#e0e0e0
}
.openBtn2{
display:none;
border:5px solid #e0e0e0;
box-shadow:5px 2px 1px #000;
height:64vh;
background-color:#e0e0e0
}
h2{
text-align:center;
color:#000
}
h4{
margin-left:230px
}
label{
color:#000;
margin-left:30px
}
#btn1{
background-color:#010101;
color:#f1f1f1;
height:8vh;
width:20%
}
#btn2{
background-color:#010101;
color:#f1f1f1;
height:8vh
}
#btn3{
margin-left:30px;
background-color:green;
color:#f1f1f1;
height:8vh;
width:84%;
border-radius:10px
}
#btn4{
margin-left:30px;
background-color:#f00000;
color:#f1f1f1;
height:8vh;
width:84%;
border-radius:10px;
margin-top:20px
}
#btn5{
margin-left:30px;
background-color:green;
color:#f1f1f1;
height:8vh;
width:84%;
border-radius:10px;
margin-top:20px
}
#btn6{
margin-left:30px;
background-color:red;
color:#f1f1f1;
height:8vh;
width:84%;
border-radius:10px;
margin-top:8px

}
#email,#password{
margin-left:30px;
height:6vh;
width:80%;
font-size:13px;
border-radius:10px;
border:2px solid #e0e0e0
}
.fullname,.email,.password{
margin-left:30px;
height:6vh;
width:80%;
font-size:13px;
border-radius:10px;
border:2px solid #e0e0e0;
}
body{
background-color:#fff
}